@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeSlideIn {
from {
    opacity: 0;
    transform: translateY(-10px)
}
to {
    opacity: 1;
    transform: translateY(0)
}
}

.animated-open {
    animation: fadeSlideIn 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) both;
    animation-delay: 0.1s;
}