name: Testing Frontend/Backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend-tests:
    name: Running Backend Tests
    runs-on: ubuntu-latest
    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME}}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY}}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET}}

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Using NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

  frontend-tests:
    name: Running Frontend Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web-frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Using Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
